[submodule "templates/flowforge"]
	path = templates/flowforge
	url = git@github.com:Little-Devs/template-flowforge.git
[submodule "templates/glass-showcase"]
	path = templates/glass-showcase
	url = git@github.com:Little-Devs/template-glass-showcase.git
[submodule "templates/flat-technology"]
	path = templates/flat-technology
	url = git@github.com:Little-Devs/template-flat-technology.git
