[submodule "templates/flowforge"]
	path = templates/flowforge
	url = git@github.com:Little-Devs/template-flowforge.git
[submodule "templates/glass-showcase"]
	path = templates/glass-showcase
	url = git@github.com:Little-Devs/template-glass-showcase.git
[submodule "templates/flat-technology"]
	path = templates/flat-technology
	url = git@github.com:Little-Devs/template-flat-technology.git
[submodule "templates/devhub"]
	path = templates/devhub
	url = https://github.com/Little-Devs/template-devhub.git
[submodule "templates/therme-kanzian"]
	path = templates/therme-kanzian
	url = https://github.com/Little-Devs/template-therme-kanzian.git
[submodule "templates/stitch"]
	path = templates/stitch
	url = https://github.com/Little-Devs/template-stitch.git
[submodule "templates/atelier"]
	path = templates/atelier
	url = https://github.com/Little-Devs/template-atelier.git
[submodule "templates/harbor"]
	path = templates/harbor
	url = https://github.com/Little-Devs/template-harbor.git
[submodule "templates/cedar"]
	path = templates/cedar
	url = https://github.com/Little-Devs/template-cedar.git
[submodule "templates/ridge"]
	path = templates/ridge
	url = https://github.com/Little-Devs/template-ridge.git
[submodule "templates/saltwind"]
	path = templates/saltwind
	url = https://github.com/Little-Devs/template-saltwind.git
[submodule "templates/meterline"]
	path = templates/meterline
	url = https://github.com/Little-Devs/template-meterline.git
[submodule "templates/hale"]
	path = templates/hale
	url = https://github.com/Little-Devs/template-hale.git
[submodule "templates/mews"]
	path = templates/mews
	url = https://github.com/Little-Devs/template-mews.git
[submodule "templates/northharbor"]
	path = templates/northharbor
	url = https://github.com/Little-Devs/template-northharbor.git
[submodule "templates/ochre"]
	path = templates/ochre
	url = https://github.com/Little-Devs/template-ochre.git
[submodule "templates/vale"]
	path = templates/vale
	url = https://github.com/Little-Devs/template-vale.git
[submodule "templates/marrow"]
	path = templates/marrow
	url = https://github.com/Little-Devs/template-marrow.git
[submodule "templates/bramble"]
	path = templates/bramble
	url = https://github.com/Little-Devs/template-bramble.git
[submodule "templates/drip"]
	path = templates/drip
	url = https://github.com/Little-Devs/template-drip.git
[submodule "templates/paperheart"]
	path = templates/paperheart
	url = https://github.com/Little-Devs/template-paperheart.git
[submodule "templates/holdfast"]
	path = templates/holdfast
	url = https://github.com/Little-Devs/template-holdfast.git
[submodule "templates/fuse"]
	path = templates/fuse
	url = https://github.com/Little-Devs/template-fuse.git
[submodule "templates/stackwell"]
	path = templates/stackwell
	url = https://github.com/Little-Devs/template-stackwell.git
[submodule "templates/oddment"]
	path = templates/oddment
	url = https://github.com/Little-Devs/template-oddment.git
